body {
  padding: 0;
  margin: 0;
  font-family: "PT Mono", serif;
  color: #ffffff;
}
canvas {
  display: block;
  background-color: #000000;
  position: absolute;
  top: 50px;
  bottom: 0;
  /* left: 50px; */
  right: 0;
  width: 100%;
  height: 92%;
  /* background: url(../../example.jpg); */
}
.current-score {
  left: 70px;
}
.top-score {
  right: 80px;
}
.score {
  display: block;
  position: absolute;
  top: 73px;
  z-index: 1;
  font-size: 20px;
}
.controls {
  display: block;
  position: absolute;
  top: 73px;
  left: 50%;
  transform: translate(-50%, 0);
  z-index: 1;
  font-size: 11px;
  text-align: center;
  line-height: 1.6;
  font-weight: bold;
}
.endgame {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  padding: 73px;
  z-index: 1;
  text-align: center;
}
button {
  border: 4px solid #ffffff;
  background-color: transparent;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 20px;
  margin: 10px;
  font-family: "PT Mono", serif;
  cursor: pointer;
}
button:hover {
  background-color: #ffffff;
  color: #000000;
}
.timer {
  color: #ffffff;
  font-size: large;
  font-weight: bold;
}
